@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-SemiBold.eot');
    src: url('../fonts/poppins/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/poppins/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-SemiBold.woff') format('woff'),
        url('../fonts/poppins/Poppins-SemiBold.ttf') format('truetype'),
        url('../fonts/poppins/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-SemiBoldItalic.eot');
    src: url('../fonts/poppins/Poppins-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/poppins/Poppins-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-SemiBoldItalic.woff') format('woff'),
        url('../fonts/poppins/Poppins-SemiBoldItalic.ttf') format('truetype'),
        url('../fonts/poppins/Poppins-SemiBoldItalic.svg#Poppins-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-Medium.eot');
    src: url('../fonts/poppins/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/poppins/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-Medium.woff') format('woff'),
        url('../fonts/poppins/Poppins-Medium.ttf') format('truetype'),
        url('../fonts/poppins/Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-Regular.eot');
    src: url('../fonts/poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/poppins/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-Regular.woff') format('woff'),
        url('../fonts/poppins/Poppins-Regular.ttf') format('truetype'),
        url('../fonts/poppins/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-MediumItalic.eot');
    src: url('../fonts/poppins/Poppins-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/poppins/Poppins-MediumItalic.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-MediumItalic.woff') format('woff'),
        url('../fonts/poppins/Poppins-MediumItalic.ttf') format('truetype'),
        url('../fonts/poppins/Poppins-MediumItalic.svg#Poppins-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
